%header
  %header.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        = link_to "aaron-prindle", root_path, id: "logo"
        -# = link_to image_tag( 'octocat.png', size: "20x20"), 'http://www.github.com', class: "brand"
        %nav
          %ul.nav.pull-right
            %li= link_to "Blog", root_path
            %li= link_to "About Me", about_me_path
            %li= link_to "Projects", projects_path
            -# - if signed_in?
            -#   %li= link_to "Users", users_path
            -#   %li#fat-menu.dropdown
            -#     %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            -#       Account
            -#       %b.caret
            -#     %ul.dropdown-menu
            -#       %li= link_to "Profile", current_user
            -#       %li= link_to "Settings", edit_user_path(current_user)
            -#       %li.divider
            -#       %li
            -#         = link_to "Sign out", signout_path, method: "delete"
            -# - else
            -#   %li= link_to "Sign in", signin_path
