%header
  %header.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        = link_to "aaron-prindle", root_path, id: "logo"
        -# = link_to image_tag( 'octocat.png', size: "20x20"), 'http://www.github.com', class: "brand"
        %nav
          %ul.nav.pull-right
            %li= link_to "Blog", root_path
            %li= link_to "About Me", about_me_path
            %li= link_to "Projects", projects_path

